<!--  ./views/index.erb -->
<div class="center-header"><%= @content_header %></div>
<% @products.each do |elem| %>
  <% if elem['visible']=="on" || (session['logged'] && session['logged']['user']=="admin") %>
<div class="tovar">
    <div class="index-tovar-list" onclick="location.href='/elem/<%= elem['id'] %>'" >
            <% if session['logged'] && session['logged']['user'] == "admin" %>
            <div class="index-edit-container">
                <a class="index-edit-text-a" href="/admin/<%= elem['id'] %>">
                    <span class="index-edit-span">
                        <img src="/shest.png" width="13px" height="13px" alt="">
                    </span>
                    <button class="index-hide-button">
                          EDIT
                    </button>
                </a>
            </div>
            <div class="index-edit-container" style="width: 70px;" >
                <form name="visibleoff" action="/admin" method="post">
                  <input type="hidden" name="id" value="<%= elem['id'] %>" />
                  <input type="hidden" name="action" value="visible" />
                  <input type="hidden" name="visible" value="<%= elem['visible']=='on' ? 'off' : 'on' %>" />
                    <span class="index-edit-span">
                        <img src="/shest.png" width="13px" height="13px" alt="">
                    </span>
                    <button type="submit" class="index-hide-button" <%= elem['visible']=='on' ? '' : 'style="background-color: red; color: white;"' %>>
                          <%= elem['visible']=='on' ? 'HIDE' : 'UnHIDE' %>
                    </button>
                </form>
            </div>
            <% end %>
        <div class="index-tovar-list-item">
           <span class="index-tovar-list-nametxt"><%= elem['name'] %></span>
        </div>
        <div class="index-tovar-list-container">
            <div class="index-tovar-list-item">
                <span>Раздел-></span><span ><a class="index-a" href="/category/<%= elem['category']['category_id'] %>"><%= elem['category']['name'] %></a></span>
            </div>
            <div class="index-tovar-list-item">
                Цена: <b><%= elem['price'] %>&nbsp;<%= @currency %></b>
            </div>
            <div class="index-tovar-list-item-right">
                <a href="/elem/<%= elem['id'] %>"><button class="button-index-list">Инфо>></button></a>
            </div>
        </div>
    </div>
</div>
  <% end %>
<% end %>
<!--  ./views/index.erb -->
